.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
bootstrap/cache/*
coverage
.phpunit.result.cache
docker-compose.yml
docker-compose.test.yml
Dockerfile
Dockerfile.test
.dockerignore
README.md
DOCKER_README.md
docker.env 